@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

html{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    height: 100vh;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    width: 400px;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    padding: 20px 25px;
}

.box-img-area{
    position: relative;
    height: 350px;
    border-radius: 15px;
    background-image: url("./img/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-img-shadow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(178, 100%, 50%, 0.411);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

.box-img-area:hover .box-img-shadow{
    opacity: 1;
}