@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

html{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    height: 100vh;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}